<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="table_WO">
        WorkOrder
        <table class="table table-striped">
            <thead>
    
                <tr>
                    <div th:each="col : ${cols}">
                        <th th:text="${col.COLUMN_NAME}">
                        </th>
                    </div>
                </tr>
            </thead>
            <tbody>
    
                <tr th:each="resLst : ${resLst}">
                    <td th:text="${resLst.WORKORDER_ID}"></td>
                    <td th:text="${resLst.SERIAL_NUM}"></td>
                    <td th:text="${resLst.CONNECTTIME}"></td>
                    <td th:text="${resLst.BLOCKING_TIME}"></td>
                    <td th:text="${resLst.AREA}"></td>
                    <td th:text="${resLst.OFFICE_DIRECTION}"></td>
                    <td th:text="${resLst.SLA}"></td>
                    <td th:text="${resLst.SLA_TAG}"></td>
                    <td th:text="${resLst.POST}"></td>
                    <td th:text="${resLst.SEND_EQUIPMENT}"></td>
                    <td th:text="${resLst.APPLICATION_DATE}"></td>
                    <td th:text="${resLst.ARRIVE_TIME}"></td>
                    <td th:text="${resLst.COMPLETION_TIME}"></td>
                    <td th:text="${resLst.CONSTRUCTION_ACTION}"></td>
                    <td th:text="${resLst.CONSTRUCTION_TYPE}"></td>
                    <td th:text="${resLst.PRODUCT_TYPE}"></td>
                    <td th:text="${resLst.ORDER_STATE}"></td>
                    <td th:text="${resLst.MARK}"></td>
                    <td th:text="${resLst.INFORMATIONAD_ID}"></td>
                    <td th:text="${resLst.INFORMATION_TELEPHONE_ID}"></td>
                    <td th:text="${resLst.INFORMATION_LAN_ID}"></td>
                    <td th:text="${resLst.ELECTRONIC_ID}"></td>
                    <td th:text="${resLst.USER_ID}"></td>
                    <td th:text="${resLst.EPON_ID}"></td>
                    <td th:text="${resLst.FTTH_ID}"></td>
                    <td th:text="${resLst.ORDER_RESPONSIBLE}"></td>
                    <td th:text="${resLst.ORGANIZATION_ID}"></td>
                    <td th:text="${resLst.TIME_LIMIT}"></td>
                    <td th:text="${resLst.SEND_ORDER_TIME}"></td>
                    <td th:text="${resLst.WORK_APPOINTMENT_END_TIME}"></td>
                    <td th:text="${resLst.WORK_APPOINTMENT_START_TIME}"></td>
                    <td th:text="${resLst.ORDER_REQ_START_TIME}"></td>
                    <td th:text="${resLst.ORDER_REQ_END_TIME}"></td>
                    <td th:text="${resLst.TAKE_TIME}"></td>
                    <td th:text="${resLst.ORDER_WHETHER_OVERTIME}"></td>
                    <td th:text="${resLst.X_POSITION}"></td>
                    <td th:text="${resLst.Y_POSITION}"></td>
                    <td th:text="${resLst.PORT_}"></td>
                    <td th:text="${resLst.LINE}"></td>
                    <td th:text="${resLst.PAIR}"></td>
                    <td th:text="${resLst.USER_NAME}"></td>
                    <td th:text="${resLst.USER_NUM}"></td>
                    <td th:text="${resLst.ADDRESS}"></td>
                    <td th:text="${resLst.PHONE}"></td>
                    <td th:text="${resLst.ASSOCIATION_NUM}"></td>
                    <td th:text="${resLst.BANDWIDTH_ACCOUNT}"></td>
                    <td th:text="${resLst.ACCOUNT_PASSWORD}"></td>
                    <td th:text="${resLst.APPLICATION_NO}"></td>
                    <td th:text="${resLst.CLIENT_BELONG}"></td>
                    <td th:text="${resLst.DEVICE_NUMBER}"></td>
                    <td th:text="${resLst.CONNECTIONPEOPLE}"></td>
                    <td th:text="${resLst.RETURNPEOPLE}"></td>
                    <td th:text="${resLst.RETURNTIME}"></td>
                    <td th:text="${resLst.MODFITIME}"></td>
                    <td th:text="${resLst.JOB_TYPE}"></td>
                    <td th:text="${resLst.STATUS_}"></td>
                    <td th:text="${resLst.EXTRACT_DATE}"></td>
                    <td th:text="${resLst.RSOW_INIPMS}"></td>
                    <td th:text="${resLst.AGE_CAT}"></td>
                    <td th:text="${resLst.AGE}"></td>
                    <td th:text="${resLst.SO_TYPE}"></td>
                    <td th:text="${resLst.EXCHANGE_}"></td>
                    <td th:text="${resLst.CABINET}"></td>
                    <td th:text="${resLst.PROJECT_ID}"></td>
                    <td th:text="${resLst.CONTRACTOR}"></td>
                    <td th:text="${resLst.OFC}"></td>
                    <td th:text="${resLst.PERAREA}"></td>
                    <td th:text="${resLst.SO_NUMBER}"></td>
                    <td th:text="${resLst.INSTALLER}"></td>
                    <td th:text="${resLst.SERVICE_TYPE}"></td>
                    <td th:text="${resLst.APPROVER_NAME}"></td>
                    <td th:text="${resLst.CUSTOMER_NAME}"></td>
                    <td th:text="${resLst.CUSTOMER_ADDRESS}"></td>
                    <td th:text="${resLst.MKT_SGMT}"></td>
                    <td th:text="${resLst.TECH_ID}"></td>
                    <td th:text="${resLst.ASSIGN_TEL_NO}"></td>
                    <td th:text="${resLst.PLAN}"></td>
                    <td th:text="${resLst.NE_TYPE}"></td>
                    <td th:text="${resLst.PRIORITY}"></td>
                    <td th:text="${resLst.PING}"></td>
                    <td th:text="${resLst.UPLOAD_SPEED}"></td>
                    <td th:text="${resLst.DOWNLOAD_SPEED}"></td>
                    <td th:text="${resLst.CBR}"></td>
                    <td th:text="${resLst.SEQ}"></td>
                    <td th:text="${resLst.XCONNECT}"></td>
                    <td th:text="${resLst.LOCATION1}"></td>
                    <td th:text="${resLst.TYPE1}"></td>
                    <td th:text="${resLst.INDEX1}"></td>
                    <td th:text="${resLst.PORT1}"></td>
                    <td th:text="${resLst.LOCATION2}"></td>
                    <td th:text="${resLst.TYPE2}"></td>
                    <td th:text="${resLst.INDEX2}"></td>
                    <td th:text="${resLst.PORT2}"></td>
                    <td th:text="${resLst.LANDMARK}"></td>
                    <td th:text="${resLst.SERVICEID}"></td>
                    <td th:text="${resLst.FILENAME}"></td>
                    <td th:text="${resLst.PRIMARY_CABLE_PAIR}"></td>
                    <td th:text="${resLst.SECONDARY_CABLE_PAIR}"></td>
                    <td th:text="${resLst.LCP}"></td>
                    <td th:text="${resLst.FTTH_NAP_PAIR}"></td>
                    <td th:text="${resLst.NODE_NAME}"></td>
                    <td th:text="${resLst.I_OK}"></td>
                    <td th:text="${resLst.ACTIVATED}"></td>
                    <td th:text="${resLst.RESCUE_PERSON}"></td>
                    <td th:text="${resLst.CONSUME_STATUS}"></td>
                    <td th:text="${resLst.SLA_TOTAL}"></td>
                    <td th:text="${resLst.SPAN}"></td>
                    <td th:text="${resLst.CONSUME_TYPE}"></td>
                    <td th:text="${resLst.PACKAGE_CONSUME}"></td>
                    <td th:text="${resLst.FIRST_PASS}"></td>
                    <td th:text="${resLst.SECOND_PASS}"></td>
                    <td th:text="${resLst.BILLING_RETURN_REASON}"></td>
                    <td th:text="${resLst.BILLING_STATUS}"></td>
                    <td th:text="${resLst.HOF_STATUS}"></td>
                    <td th:text="${resLst.HOF_UPLOAD_DATE}"></td>
                    <td th:text="${resLst.HOF_UPLOADED_BY}"></td>
                    <td th:text="${resLst.ACTUAL_FACILITY}"></td>
                    <td th:text="${resLst.PRIMARY_}"></td>
                    <td th:text="${resLst.CAB_SEC}"></td>
                    <td th:text="${resLst.TRUCK_ROLL}"></td>
                    <td th:text="${resLst.PROJECT_TYPE}"></td>
                    <td th:text="${resLst.THIRD_PASS}"></td>
                    <td th:text="${resLst.FOURTH_PASS}"></td>
                    <td th:text="${resLst.SPECIAL_PASS}"></td>
                    <td th:text="${resLst.TICKET_MAKE_UP}"></td>
                    <td th:text="${resLst.MAKE_UP_DATE}"></td>
                    <td th:text="${resLst.ATTENDED_DATE}"></td>
                    <td th:text="${resLst.FACILITY_}"></td>
                    <td th:text="${resLst.METER_MARK_START}"></td>
                    <td th:text="${resLst.METER_MARK_END}"></td>
                    <td th:text="${resLst.IOO_READING}"></td>
                    <td th:text="${resLst.METER_MARK_START_PHOTO}"></td>
                    <td th:text="${resLst.METER_MARK_END_PHOTO}"></td>
                    <td th:text="${resLst.SUBSCRIBER_SIGNATURE}"></td>
                    <td th:text="${resLst.PR_DATA}"></td>
                    <td th:text="${resLst.EASY_DISPATCH}"></td>
                    <td th:text="${resLst.EASY_DISPATCH_DATE}"></td>
                </tr>
    
            </tbody>
        </table>
    </div>

    <div th:fragment="table_REPR">
        Repair Order
        <table class="table table-striped">
            <thead>
    
                <tr>
                    <div th:each="col : ${cols}">
                        <th th:text="${col.COLUMN_NAME}">
                        </th>
                    </div>
                </tr>
            </thead>
            <tbody>
    
                <tr th:each="resLst : ${resLst}">
                    <td th:text="${resLst.GDID}"></td>
                    <td th:text="${resLst.ORDER_ID}"></td>
                    <td th:text="${resLst.ORDER_STATE}"></td>
                    <td th:text="${resLst.SLA}"></td>
                    <td th:text="${resLst.SLA_TAG}"></td>
                    <td th:text="${resLst.MAJOR}"></td>
                    <td th:text="${resLst.DIALING}"></td>
                    <td th:text="${resLst.RELATION_PERSON}"></td>
                    <td th:text="${resLst.RELATION_PHONE}"></td>
                    <td th:text="${resLst.SERVICE_RANKS}"></td>
                    <td th:text="${resLst.LAN}"></td>
                    <td th:text="${resLst.AREA}"></td>
                    <td th:text="${resLst.BUREAU}"></td>
                    <td th:text="${resLst.STOPPAGE_PHENOMENON}"></td>
                    <td th:text="${resLst.ORDER_ORIGIN}"></td>
                    <td th:text="${resLst.STOPPAGE_DETERMINE}"></td>
                    <td th:text="${resLst.ACCEPT_TIME}"></td>
                    <td th:text="${resLst.MANAGER_NAME}"></td>
                    <td th:text="${resLst.MANAGER_PHONE}"></td>
                    <td th:text="${resLst.ORDER_SUBJECT}"></td>
                    <td th:text="${resLst.USER_PROVINCE}"></td>
                    <td th:text="${resLst.USER_AREA}"></td>
                    <td th:text="${resLst.STOPPAGE_AREA}"></td>
                    <td th:text="${resLst.STANDARD_AREA}"></td>
                    <td th:text="${resLst.STOPPAGE_DESCRIBE}"></td>
                    <td th:text="${resLst.BROADBAND_OPINION}"></td>
                    <td th:text="${resLst.REMARK}"></td>
                    <td th:text="${resLst.OSS_ACCEPT_TIME}"></td>
                    <td th:text="${resLst.STOPPER_OCCUR_TIME}"></td>
                    <td th:text="${resLst.RECEIVER}"></td>
                    <td th:text="${resLst.DISPATCHER}"></td>
                    <td th:text="${resLst.LIMIT_}"></td>
                    <td th:text="${resLst.DISPOSE_DEPT}"></td>
                    <td th:text="${resLst.DISPOSER}"></td>
                    <td th:text="${resLst.DISPOSE_END_TIME}"></td>
                    <td th:text="${resLst.TIME_LIMIT}"></td>
                    <td th:text="${resLst.TAKE_TIME}"></td>
                    <td th:text="${resLst.APPOINTMENT_BEGIN_TIME}"></td>
                    <td th:text="${resLst.APPOINTMENT_END_TIME}"></td>
                    <td th:text="${resLst.ATTR}"></td>
                    <td th:text="${resLst.EN_LINE_ID}"></td>
                    <td th:text="${resLst.EN_USER_ID}"></td>
                    <td th:text="${resLst.ELECTRONIC_ID}"></td>
                    <td th:text="${resLst.EN_LANID}"></td>
                    <td th:text="${resLst.DUTY_PERSON}"></td>
                    <td th:text="${resLst.ORGANIZATION_ID}"></td>
                    <td th:text="${resLst.TAKE_ORDER_TIME}"></td>
                    <td th:text="${resLst.PROSCENIUM_OPINION}"></td>
                    <td th:text="${resLst.OSS_DISPOSER}"></td>
                    <td th:text="${resLst.X_POSITION}"></td>
                    <td th:text="${resLst.Y_POSITION}"></td>
                    <td th:text="${resLst.ARRIVE_TIME}"></td>
                    <td th:text="${resLst.ORDER_WHETHER_OVERTIME}"></td>
                    <td th:text="${resLst.OVER_TIME}"></td>
                    <td th:text="${resLst.REGISTER_STREAM}"></td>
                    <td th:text="${resLst.RELATION_MOBILEPHONE}"></td>
                    <td th:text="${resLst.LINE_ROW}"></td>
                    <td th:text="${resLst.LINE_PAIR}"></td>
                    <td th:text="${resLst.PORT_}"></td>
                    <td th:text="${resLst.USER_NAME}"></td>
                    <td th:text="${resLst.EN_STOPPAGE_SUBORDER_ID}"></td>
                    <td th:text="${resLst.BUSINESS_TYPE}"></td>
                    <td th:text="${resLst.USER_ATTRIBUTION}"></td>
                    <td th:text="${resLst.OBSTACLE_PHENOMENON}"></td>
                    <td th:text="${resLst.RETURN_PHENOMENON}"></td>
                    <td th:text="${resLst.TAKE_ORDER_PERSON}"></td>
                    <td th:text="${resLst.RETURN_ORDER_PERSON}"></td>
                    <td th:text="${resLst.WIRING}"></td>
                    <td th:text="${resLst.MODFITIME}"></td>
                    <td th:text="${resLst.AREA_CODE}"></td>
                    <td th:text="${resLst.TAG_TYPE}"></td>
                    <td th:text="${resLst.WORG_GROUP_NAME}"></td>
                    <td th:text="${resLst.REASSIGNED_BY_USER}"></td>
                    <td th:text="${resLst.ASSIGNED_TO}"></td>
                    <td th:text="${resLst.AGE}"></td>
                    <td th:text="${resLst.NAME_}"></td>
                    <td th:text="${resLst.ADDRESS}"></td>
                    <td th:text="${resLst.CTR}"></td>
                    <td th:text="${resLst.MOFC}"></td>
                    <td th:text="${resLst.OFFICE}"></td>
                    <td th:text="${resLst.SA}"></td>
                    <td th:text="${resLst.CS}"></td>
                    <td th:text="${resLst.STRIP}"></td>
                    <td th:text="${resLst.PAIR}"></td>
                    <td th:text="${resLst.DP}"></td>
                    <td th:text="${resLst.SECONDARY}"></td>
                    <td th:text="${resLst.SEC}"></td>
                    <td th:text="${resLst.LC}"></td>
                    <td th:text="${resLst.LCMDF}"></td>
                    <td th:text="${resLst.PRIO}"></td>
                    <td th:text="${resLst.STN}"></td>
                    <td th:text="${resLst.INSTTAG}"></td>
                    <td th:text="${resLst.REPDT}"></td>
                    <td th:text="${resLst.REPTIME}"></td>
                    <td th:text="${resLst.NODE}"></td>
                    <td th:text="${resLst.POST_DATE}"></td>
                    <td th:text="${resLst.DAYS}"></td>
                    <td th:text="${resLst.PROM_NUMBER}"></td>
                    <td th:text="${resLst.PRIORITY}"></td>
                    <td th:text="${resLst.TELEPHONE_NO}"></td>
                    <td th:text="${resLst.PARENT}"></td>
                    <td th:text="${resLst.RELATION}"></td>
                    <td th:text="${resLst.REPORTED_DATE}"></td>
                    <td th:text="${resLst.CUST_ACT_NO}"></td>
                    <td th:text="${resLst.SUBS_CALL_COUNT}"></td>
                    <td th:text="${resLst.REMARKS}"></td>
                    <td th:text="${resLst.STATUS_}"></td>
                    <td th:text="${resLst.USERR}"></td>
                    <td th:text="${resLst.APT_DATE}"></td>
                    <td th:text="${resLst.APT_TIME}"></td>
                    <td th:text="${resLst.QUE_DATE}"></td>
                    <td th:text="${resLst.QUE_TIME}"></td>
                    <td th:text="${resLst.REPEATER}"></td>
                    <td th:text="${resLst.SERVICE}"></td>
                    <td th:text="${resLst.INST_TYPE}"></td>
                    <td th:text="${resLst.NE_DSL}"></td>
                    <td th:text="${resLst.NE_PORT}"></td>
                    <td th:text="${resLst.NE_SLOT}"></td>
                    <td th:text="${resLst.DSL_DEST_PORT}"></td>
                    <td th:text="${resLst.DSL_DEST_SLOT}"></td>
                    <td th:text="${resLst.COMPLAINT_TYPE}"></td>
                    <td th:text="${resLst.MARKET_SEGMENT}"></td>
                    <td th:text="${resLst.PLAN}"></td>
                    <td th:text="${resLst.W_GRP}"></td>
                    <td th:text="${resLst.PERAREA}"></td>
                    <td th:text="${resLst.HOURS}"></td>
                    <td th:text="${resLst.RAGE_CAT}"></td>
                    <td th:text="${resLst.TAGG}"></td>
                    <td th:text="${resLst.SEQ}"></td>
                    <td th:text="${resLst.XCONNECT}"></td>
                    <td th:text="${resLst.LOCATION1}"></td>
                    <td th:text="${resLst.TYPE1}"></td>
                    <td th:text="${resLst.INDEX1}"></td>
                    <td th:text="${resLst.PORT1}"></td>
                    <td th:text="${resLst.LOCATION2}"></td>
                    <td th:text="${resLst.TYPE2}"></td>
                    <td th:text="${resLst.INDEX2}"></td>
                    <td th:text="${resLst.PORT2}"></td>
                    <td th:text="${resLst.SN_NUMBER}"></td>
                    <td th:text="${resLst.DIS2}"></td>
                    <td th:text="${resLst.CAS2}"></td>
                    <td th:text="${resLst.DIS3}"></td>
                    <td th:text="${resLst.CAS3}"></td>
                    <td th:text="${resLst.DIS}"></td>
                    <td th:text="${resLst.CAS}"></td>
                    <td th:text="${resLst.CBR}"></td>
                    <td th:text="${resLst.MAILTIME}"></td>
                    <td th:text="${resLst.PROM_WORG_NAME}"></td>
                    <td th:text="${resLst.TEST_NETWORK}"></td>
                    <td th:text="${resLst.TEST_PORT1}"></td>
                    <td th:text="${resLst.TEST_PRIMARY1}"></td>
                    <td th:text="${resLst.TEST_BUILDING}"></td>
                    <td th:text="${resLst.TEST_SECONDARY}"></td>
                    <td th:text="${resLst.TEST_CROSS}"></td>
                    <td th:text="${resLst.TEST_DISTRIBUTION}"></td>
                    <td th:text="${resLst.TEST_AERIAL}"></td>
                    <td th:text="${resLst.TEST_PROTECTOR}"></td>
                    <td th:text="${resLst.TEST_INSIDE}"></td>
                    <td th:text="${resLst.TEST_CONNECTING}"></td>
                    <td th:text="${resLst.TEST_SPLITTER}"></td>
                    <td th:text="${resLst.TEST_PLDT}"></td>
                    <td th:text="${resLst.TEST_SUBSCRIBER}"></td>
                    <td th:text="${resLst.TEST_ATTENUATION}"></td>
                    <td th:text="${resLst.TEST_SIGNAL}"></td>
                    <td th:text="${resLst.TEST_SPEED}"></td>
                    <td th:text="${resLst.TEST_PINGTEST}"></td>
                    <td th:text="${resLst.FILENAME}"></td>
                    <td th:text="${resLst.PROM_REPORTED}"></td>
                    <td th:text="${resLst.PROM_REASSIGNED}"></td>
                    <td th:text="${resLst.NE_TYPE}"></td>
                    <td th:text="${resLst.CONSUME_STATUS}"></td>
                    <td th:text="${resLst.SPAN}"></td>
                    <td th:text="${resLst.SPAN_METER}"></td>
                    <td th:text="${resLst.OJB_READING}"></td>
                    <td th:text="${resLst.NAP_READING}"></td>
                    <td th:text="${resLst.SLA_TOTAL}"></td>
                    <td th:text="${resLst.CONSUME_TYPE}"></td>
                    <td th:text="${resLst.FIRST_PASS}"></td>
                    <td th:text="${resLst.SECOND_PASS}"></td>
                    <td th:text="${resLst.BILLING_RETURN_REASON}"></td>
                    <td th:text="${resLst.BILLING_STATUS}"></td>
                    <td th:text="${resLst.HOF_STATUS}"></td>
                    <td th:text="${resLst.HOF_UPLOAD_DATE}"></td>
                    <td th:text="${resLst.HOF_UPLOADED_BY}"></td>
                    <td th:text="${resLst.TOK}"></td>
                    <td th:text="${resLst.COMPLEXITY}"></td>
                    <td th:text="${resLst.AERIAL_METER}"></td>
                    <td th:text="${resLst.ACTUAL_FACILITY}"></td>
                    <td th:text="${resLst.PRIMARY_}"></td>
                    <td th:text="${resLst.CAB_SEC}"></td>
                    <td th:text="${resLst.F_CLAMP}"></td>
                    <td th:text="${resLst.TRUCK_ROLL}"></td>
                    <td th:text="${resLst.STREET}"></td>
                    <td th:text="${resLst.APARTMENT}"></td>
                    <td th:text="${resLst.CITY}"></td>
                    <td th:text="${resLst.PROVINCE}"></td>
                    <td th:text="${resLst.PROJECT_TYPE}"></td>
                    <td th:text="${resLst.THIRD_PASS}"></td>
                    <td th:text="${resLst.FOURTH_PASS}"></td>
                    <td th:text="${resLst.SPECIAL_PASS}"></td>
                    <td th:text="${resLst.TICKET_MAKE_UP}"></td>
                    <td th:text="${resLst.MAKE_UP_DATE}"></td>
                    <td th:text="${resLst.DIS_INSIDE}"></td>
                    <td th:text="${resLst.CAS_INSIDE}"></td>
                    <td th:text="${resLst.DIS2_INSIDE}"></td>
                    <td th:text="${resLst.CAS2_INSIDE}"></td>
                    <td th:text="${resLst.DIS3_INSIDE}"></td>
                    <td th:text="${resLst.CAS3_INSIDE}"></td>
                    <td th:text="${resLst.INSTALLATION_DATE}"></td>
                    <td th:text="${resLst.ATTENDED_DATE}"></td>
                    <td th:text="${resLst.FACILITY_}"></td>
                    <td th:text="${resLst.METER_MARK_START}"></td>
                    <td th:text="${resLst.METER_MARK_END}"></td>
                    <td th:text="${resLst.METER_MARK_START_PHOTO}"></td>
                    <td th:text="${resLst.METER_MARK_END_PHOTO}"></td>
                    <td th:text="${resLst.SUBSCRIBER_SIGNATURE}"></td>
                    <td th:text="${resLst.IOO_READING}"></td>
                    <td th:text="${resLst.EASY_DISPATCH}"></td>
                    <td th:text="${resLst.COMPLETION_ENTITY}"></td>
                    <td th:text="${resLst.COMPLETION_CAUSE}"></td>
                    <td th:text="${resLst.EASY_DISPATCH_DATE}"></td>
                    
                </tr>
    
            </tbody>
        </table>
    </div>

</body>
</html>