<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="table_WO">
        WorkOrder
        <table class="table table-striped">
            <thead>
    
                <tr>
                    <div th:each="col : ${cols}">
                        <th th:text="${col.COLUMN_NAME}">
                        </th>
                    </div>
                </tr>
            </thead>
            <tbody>
    
                <tr th:each="resLst : ${resLst}">
                    <td th:text="${resLst.WORKORDER_ID}"></td>
                    <td th:text="${resLst.SERIAL_NUM}"></td>
                    <td th:text="${resLst.CONNECTTIME}"></td>
                    <td th:text="${resLst.BLOCKING_TIME}"></td>
                    <td th:text="${resLst.AREA}"></td>
                    <td th:text="${resLst.OFFICE_DIRECTION}"></td>
                    <td th:text="${resLst.SLA}"></td>
                    <td th:text="${resLst.SLA_TAG}"></td>
                    <td th:text="${resLst.POST}"></td>
                    <td th:text="${resLst.SEND_EQUIPMENT}"></td>
                    <td th:text="${resLst.APPLICATION_DATE}"></td>
                    <td th:text="${resLst.ARRIVE_TIME}"></td>
                    <td th:text="${resLst.COMPLETION_TIME}"></td>
                    <td th:text="${resLst.CONSTRUCTION_ACTION}"></td>
                    <td th:text="${resLst.CONSTRUCTION_TYPE}"></td>
                    <td th:text="${resLst.PRODUCT_TYPE}"></td>
                    <td th:text="${resLst.ORDER_STATE}"></td>
                    <td th:text="${resLst.MARK}"></td>
                    <td th:text="${resLst.INFORMATIONAD_ID}"></td>
                    <td th:text="${resLst.INFORMATION_TELEPHONE_ID}"></td>
                    <td th:text="${resLst.INFORMATION_LAN_ID}"></td>
                    <td th:text="${resLst.ELECTRONIC_ID}"></td>
                    <td th:text="${resLst.USER_ID}"></td>
                    <td th:text="${resLst.EPON_ID}"></td>
                    <td th:text="${resLst.FTTH_ID}"></td>
                    <td th:text="${resLst.ORDER_RESPONSIBLE}"></td>
                    <td th:text="${resLst.ORGANIZATION_ID}"></td>
                    <td th:text="${resLst.TIME_LIMIT}"></td>
                    <td th:text="${resLst.SEND_ORDER_TIME}"></td>
                    <td th:text="${resLst.WORK_APPOINTMENT_END_TIME}"></td>
                    <td th:text="${resLst.WORK_APPOINTMENT_START_TIME}"></td>
                    <td th:text="${resLst.ORDER_REQ_START_TIME}"></td>
                    <td th:text="${resLst.ORDER_REQ_END_TIME}"></td>
                    <td th:text="${resLst.TAKE_TIME}"></td>
                    <td th:text="${resLst.ORDER_WHETHER_OVERTIME}"></td>
                    <td th:text="${resLst.X_POSITION}"></td>
                    <td th:text="${resLst.Y_POSITION}"></td>
                    <td th:text="${resLst.PORT_}"></td>
                    <td th:text="${resLst.LINE}"></td>
                    <td th:text="${resLst.PAIR}"></td>
                    <td th:text="${resLst.USER_NAME}"></td>
                    <td th:text="${resLst.USER_NUM}"></td>
                    <td th:text="${resLst.ADDRESS}"></td>
                    <td th:text="${resLst.PHONE}"></td>
                    <td th:text="${resLst.ASSOCIATION_NUM}"></td>
                    <td th:text="${resLst.BANDWIDTH_ACCOUNT}"></td>
                    <td th:text="${resLst.ACCOUNT_PASSWORD}"></td>
                    <td th:text="${resLst.APPLICATION_NO}"></td>
                    <td th:text="${resLst.CLIENT_BELONG}"></td>
                    <td th:text="${resLst.DEVICE_NUMBER}"></td>
                    <td th:text="${resLst.CONNECTIONPEOPLE}"></td>
                    <td th:text="${resLst.RETURNPEOPLE}"></td>
                    <td th:text="${resLst.RETURNTIME}"></td>
                    <td th:text="${resLst.MODFITIME}"></td>
                    <td th:text="${resLst.JOB_TYPE}"></td>
                    <td th:text="${resLst.STATUS_}"></td>
                    <td th:text="${resLst.EXTRACT_DATE}"></td>
                    <td th:text="${resLst.RSOW_INIPMS}"></td>
                    <td th:text="${resLst.AGE_CAT}"></td>
                    <td th:text="${resLst.AGE}"></td>
                    <td th:text="${resLst.SO_TYPE}"></td>
                    <td th:text="${resLst.EXCHANGE_}"></td>
                    <td th:text="${resLst.CABINET}"></td>
                    <td th:text="${resLst.PROJECT_ID}"></td>
                    <td th:text="${resLst.CONTRACTOR}"></td>
                    <td th:text="${resLst.OFC}"></td>
                    <td th:text="${resLst.PERAREA}"></td>
                    <td th:text="${resLst.SO_NUMBER}"></td>
                    <td th:text="${resLst.INSTALLER}"></td>
                    <td th:text="${resLst.SERVICE_TYPE}"></td>
                    <td th:text="${resLst.APPROVER_NAME}"></td>
                    <td th:text="${resLst.CUSTOMER_NAME}"></td>
                    <td th:text="${resLst.CUSTOMER_ADDRESS}"></td>
                    <td th:text="${resLst.MKT_SGMT}"></td>
                    <td th:text="${resLst.TECH_ID}"></td>
                    <td th:text="${resLst.ASSIGN_TEL_NO}"></td>
                    <td th:text="${resLst.PLAN}"></td>
                    <td th:text="${resLst.NE_TYPE}"></td>
                    <td th:text="${resLst.PRIORITY}"></td>
                    <td th:text="${resLst.PING}"></td>
                    <td th:text="${resLst.UPLOAD_SPEED}"></td>
                    <td th:text="${resLst.DOWNLOAD_SPEED}"></td>
                    <td th:text="${resLst.CBR}"></td>
                    <td th:text="${resLst.SEQ}"></td>
                    <td th:text="${resLst.XCONNECT}"></td>
                    <td th:text="${resLst.LOCATION1}"></td>
                    <td th:text="${resLst.TYPE1}"></td>
                    <td th:text="${resLst.INDEX1}"></td>
                    <td th:text="${resLst.PORT1}"></td>
                    <td th:text="${resLst.LOCATION2}"></td>
                    <td th:text="${resLst.TYPE2}"></td>
                    <td th:text="${resLst.INDEX2}"></td>
                    <td th:text="${resLst.PORT2}"></td>
                    <td th:text="${resLst.LANDMARK}"></td>
                    <td th:text="${resLst.SERVICEID}"></td>
                    <td th:text="${resLst.FILENAME}"></td>
                    <td th:text="${resLst.PRIMARY_CABLE_PAIR}"></td>
                    <td th:text="${resLst.SECONDARY_CABLE_PAIR}"></td>
                    <td th:text="${resLst.LCP}"></td>
                    <td th:text="${resLst.FTTH_NAP_PAIR}"></td>
                    <td th:text="${resLst.NODE_NAME}"></td>
                    <td th:text="${resLst.I_OK}"></td>
                    <td th:text="${resLst.ACTIVATED}"></td>
                    <td th:text="${resLst.RESCUE_PERSON}"></td>
                    <td th:text="${resLst.CONSUME_STATUS}"></td>
                    <td th:text="${resLst.SLA_TOTAL}"></td>
                    <td th:text="${resLst.SPAN}"></td>
                    <td th:text="${resLst.CONSUME_TYPE}"></td>
                    <td th:text="${resLst.PACKAGE_CONSUME}"></td>
                    <td th:text="${resLst.FIRST_PASS}"></td>
                    <td th:text="${resLst.SECOND_PASS}"></td>
                    <td th:text="${resLst.BILLING_RETURN_REASON}"></td>
                    <td th:text="${resLst.BILLING_STATUS}"></td>
                    <td th:text="${resLst.HOF_STATUS}"></td>
                    <td th:text="${resLst.HOF_UPLOAD_DATE}"></td>
                    <td th:text="${resLst.HOF_UPLOADED_BY}"></td>
                    <td th:text="${resLst.ACTUAL_FACILITY}"></td>
                    <td th:text="${resLst.PRIMARY_}"></td>
                    <td th:text="${resLst.CAB_SEC}"></td>
                    <td th:text="${resLst.TRUCK_ROLL}"></td>
                    <td th:text="${resLst.PROJECT_TYPE}"></td>
                    <td th:text="${resLst.THIRD_PASS}"></td>
                    <td th:text="${resLst.FOURTH_PASS}"></td>
                    <td th:text="${resLst.SPECIAL_PASS}"></td>
                    <td th:text="${resLst.TICKET_MAKE_UP}"></td>
                    <td th:text="${resLst.MAKE_UP_DATE}"></td>
                    <td th:text="${resLst.ATTENDED_DATE}"></td>
                    <td th:text="${resLst.FACILITY_}"></td>
                    <td th:text="${resLst.METER_MARK_START}"></td>
                    <td th:text="${resLst.METER_MARK_END}"></td>
                    <td th:text="${resLst.IOO_READING}"></td>
                    <td th:text="${resLst.METER_MARK_START_PHOTO}"></td>
                    <td th:text="${resLst.METER_MARK_END_PHOTO}"></td>
                    <td th:text="${resLst.SUBSCRIBER_SIGNATURE}"></td>
                    <td th:text="${resLst.PR_DATA}"></td>
                    <td th:text="${resLst.EASY_DISPATCH}"></td>
                    <td th:text="${resLst.EASY_DISPATCH_DATE}"></td>
                </tr>
    
            </tbody>
        </table>
    </div>
</body>
</html>