<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="table">
            
            <table class="table table-striped">
                    <thead>
                        <tr>
    
                            <th>
                                workOrderId
                            </th>
                            <th>
                                customerName
                            </th>
                            <th>
                                address
                            </th>
                            <th>
                                telNo
                            </th>
                            <th>
                                exchange
                            </th>
                            <th>
                                so_number
                            </th>
                            <th>
                                installer
                            </th>
                            <th>
                                plan
                            </th>
                            <th>
                                cbr
                            </th>
                        </tr>
                    </thead>

            </table>
    </div>

</body>
</html>