<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2021 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iworks.reactspring.repository.AccountMapper">
    <resultMap id="accountMap" type="com.iworks.reactspring.models.Account">
        <id property="accountId" column="ACCOUNT_ID"/>
        <result property="username" column="ACCOUNT_NAME"/>
        <result property="password" column="PASSWORD_"/>
        <result property="roleId" column="ROLE_ID"/>
        <result property="roleName" column="NAME_"/>
    </resultMap>
    <select id="findByUsername" resultMap="accountMap"
            parameterType="String">
        select
            a.account_id,a.account_name,a.password_,r.role_id,r.name_
        from
           account a
        inner join role_account ra on ra.account_id = a.account_id
        inner join role r on r.role_id = ra.role_id
        where a.account_name = #{userName}
    </select>
</mapper>