<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.microservice.workorder.service.repository"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/microservice/mapper/Account.map.xml"/>
        <mapper resource="com/microservice/mapper/Workorder.map.xml"/>
        <mapper resource="com/microservice/mapper/Repairorder.map.xml"/>
    </mappers>
</configuration>